.Staff_Management .title {
    color: #348F6C;
    font-weight: 500;
}

.Staff_Management .search {
    height: 40px
}

.Staff_Management .contain_Search {
    position: absolute;
    display: inline-block;
}

.Staff_Management .contain_Search .search {
    width: 100%;
    border: 1px solid grey;
}

.Staff_Management .contain_Search .icon_search {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 20px;
}

.Staff_Management .filter {
    height: 40px;
}

.Staff_Management .Add {
    height: 40px;
    border: none;
    background-color: #348F6C;
    color: #FFFFFF;
    font-weight: 500;
}

.Staff_Management .row .contain_Table {
    padding: 0 10px;
}

.Staff_Management .row .contain_Table .table {
    margin-bottom: 100px;
}

.Staff_Management .row .contain_Table .contain_pagination {
    display: flex;
    justify-content: end;
}

.Staff_Management .row .contain_Table .contain_pagination .page-item .page-link:focus {
    color: #FFFFFF;
    background-color: #348F6C;
    border-color: #348F6C;
    box-shadow: none;
}

.Staff_Management .row .contain_Table .contain_pagination .active>.page-link {
    background-color: #348F6C;
    border-color: #348F6C;
}

.Staff_Management .row .contain_Table .contain_pagination .page-item .page-link-two:focus {
    color: var(--bs-pagination-color);
    background-color: #FFFFFF;
}

.Staff_Management .list_Action .icon_action {
    font-size: 20px;
    margin-right: 16px;
}

.Staff_Management .list_Action .icon_authorise {
    color: #0F9918;
}



.Staff_Management .list_Action .icon_delete {
    color: #E34724;
}