/* Tổng thể trang bác sĩ */
.doctor-page {
  background-color: #348f6c; /* Nền xanh */
  color: #ffffff; /* Chữ trắng */
  padding: 50px 0px 0px 0px;
  margin: auto;
  max-width: 1700px;
}

/* Phần giới thiệu bác sĩ */
.doctor-page .doctor-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.doctor-page .doctor-content {
  flex: 1;
}

.doctor-page .doctor-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.doctor-page .doctor-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 600px;
}

.doctor-page .doctor-image {
  flex: 1;
  text-align: center;
}

.doctor-page .doctor-image img {
  max-width: 100%;
  height: auto;
}

/* Hoạt họa phòng khám */
.doctor-page .doctor-image .image {
  width: 500px;
  height: 450px;
}

/* Phần bác sĩ nổi bật */
.doctor-page .doctor-highlight {
  text-align: center;
  margin-top: 50px;
  gap: 20px;
  padding: 30px 20px;
  background-color: #ffffff; /* Nền trắng */
  height: fit-content;
}

.doctor-page .highlight-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.doctor-page .highlight-title::after {
  content: "";
  display: block;
  width: 150px; /* Chiều dài đường gạch */
  height: 3px; /* Độ dày đường gạch */
  background-color: #fc5185; /* Màu đỏ */
  margin: 10px auto 0; /* Căn giữa */
}
.doctor-page .doctor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Responsive cho màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  /* Tổng thể trang bác sĩ */
  .doctor-page {
    padding: 20px 10px;
  }

  /* Phần giới thiệu bác sĩ */
  .doctor-page .doctor-section {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .doctor-page .doctor-title {
    font-size: 1.8rem;
  }

  .doctor-page .doctor-description {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .doctor-page .doctor-image img {
    width: 100%;
    height: auto;
  }

  /* Phần bác sĩ nổi bật */
  .doctor-page .doctor-highlight {
    padding: 20px 10px;
    gap: 10px;
  }

  .doctor-page .highlight-title {
    font-size: 1.5rem;
  }

  .doctor-page .doctor-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
