.detail-examination .contain_img .inner_img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  object-fit: cover;
}

/* CSS mặc định cho các button */
.detail-examination .modal-footer .btn_Accept,
.detail-examination .contain_img .btn_select_img {
  background-color: #348f6c;
  border: 1px solid #348f6c !important;
  width: 125px;
}

.detail-examination .modal-footer .btn_Cancel {
  background-color: #d51f2a;
  border: 1px solid #d51f2a !important;
  width: 125px;
}

/* CSS hover cho các button */
.detail-examination .modal-footer .btn_Accept:hover,
.detail-examination .modal-footer .btn_Accept:active,
.detail-examination .modal-footer .btn_Accept:focus,
.detail-examination .contain_img .btn_select_img:hover,
.detail-examination .contain_img .btn_select_img:active,
.detail-examination .contain_img .btn_select_img:focus {
  background-color: #348f6c !important;
  border: 1px solid #348f6c;
}

.detail-examination .modal-footer .btn_Cancel:hover,
.detail-examination .modal-footer .btn_Cancel:active,
.detail-examination .modal-footer .btn_Cancel:focus {
  background-color: #d51f2a;
}

/* Đảm bảo kích thước các button luôn đồng nhất */
.detail-examination .modal-footer .btn_Accept,
.detail-examination .modal-footer .btn_Cancel,
.detail-examination .contain_img .btn_select_img {
  width: 125px;
}

.detail-examination .custom-bold {
  font-weight: 600;
}

.icon_information {
  color: #03a9f4;
}

.detail-examination .icon_edit_information {
  color: #997852;
}

.detail-examination .modal-footer .btn_Accept:hover {
  transform: scale(1);
  transform: translateY(0px);
}

.detail-examination .modal-footer .btn_Accept {
  padding: 0.35rem;
  color: #ffffff;
  border-radius: 6px;
}

.detail-examination .contain_Edit {
  margin-left: 112px;
}
