* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
/* Đảm bảo không có thanh cuộn ngang */
body,
html {
  margin: 0 auto; /* Căn giữa */
  padding: 0;
  overflow-x: hidden; /* Loại bỏ thanh cuộn ngang */
  max-width: 1300px;
}
