.detailExaminationForm .contain_img .inner_img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    object-fit: cover;
}

/* CSS mặc định cho các button */
.detailExaminationForm .modal-footer .btn_Accept,
.detailExaminationForm .contain_img .btn_select_img {
    background-color: #348F6C;
    border: 1px solid #348F6C !important;
    width: 125px;
}

.detailExaminationForm .modal-footer .btn_Cancel {
    background-color: #D51F2A;
    border: 1px solid #D51F2A !important;
    width: 125px;
}

/* CSS hover cho các button */
.detailExaminationForm .modal-footer .btn_Accept:hover,
.detailExaminationForm .modal-footer .btn_Accept:active,
.detailExaminationForm .modal-footer .btn_Accept:focus,
.detailExaminationForm .contain_img .btn_select_img:hover,
.detailExaminationForm .contain_img .btn_select_img:active,
.detailExaminationForm .contain_img .btn_select_img:focus {
    background-color: #348F6C !important;
    border: 1px solid #348F6C;
}

.detailExaminationForm .modal-footer .btn_Cancel:hover,
.detailExaminationForm .modal-footer .btn_Cancel:active,
.detailExaminationForm .modal-footer .btn_Cancel:focus {
    background-color: #D51F2A;

}

/* Đảm bảo kích thước các button luôn đồng nhất */
.detailExaminationForm .modal-footer .btn_Accept,
.detailExaminationForm .modal-footer .btn_Cancel,
.detailExaminationForm .contain_img .btn_select_img {
    width: 125px;
}

.detailExaminationForm .custom-bold {
    font-weight: 600;
}

.detailExaminationForm .icon_information {
    color: #03A9F4;
}

.detailExaminationForm .icon_edit_information {
    color: #997852;
}

.detailExaminationForm .modal-footer .btn_Accept:hover {
    transform: scale(1.0);
    transform: translateY(0px);
}

.detailExaminationForm .modal-footer .btn_Accept {
    padding: 0.35rem;
    color: #FFFFFF;
    border-radius: 6px;
}